<!DOCTYPE html>
<html>
<head>
  <title>MovitasStyleGuide</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta content="width=device-width, initial-scale=1.0, user-scalable=yes" name="viewport" id="viewport">
</head>
<body>
  <header>
    <div id="header">
      <div class="container">
        <div id="logo">
          <a href="/"><img src="/images/logo.png" width="255" height="58" alt="Logo"></a>Living Style Guide
        </div>
      </div>
    </div>
  </header>
  <nav>
    <div id="nav">
      <div class="container">
        <ul class="navigation">
          <li>
            <%= link_to_unless_current "Overview", overview_path %>
          </li>
          <li>
            <%= link_to_unless_current "Branding", branding_path %>
          </li>
          <li>
            <%= link_to_unless_current "Styling(CSS)", styling_path %>
          </li>
          <li>
            <%= link_to_unless_current "Markup(HTML)", markup_path %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <article>
    <div class="container">
      <%= yield %>
    </div>
  </article>

</body>
<script type="text/javascript">
     SyntaxHighlighter.all()
</script>
</html>
